# NEXT_PUBLIC_API_URL=https://test-gateway.sterling.ng/gateway
NEXT_PUBLIC_API_URL=http://app-lending-solution-credit-scoring-api-qa.apps.non-core-dev.sterlingbank.com/api
NEXT_PUBLIC_ENCRYPTION_KEY=B16F29953AB50E5595B2A33953CF71DE
NEXT_PUBLIC_ENCRYPTION_IV=5798B325598C0CAC
 
