@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stagger-fade-in {
  opacity: 0;
  animation: fadeIn 0.6s forwards;
}

.animation-delay-0 {
  animation-delay: 0s;
}
.animation-delay-1 {
  animation-delay: 0.1s;
}
.animation-delay-2 {
  animation-delay: 0.2s;
}
.animation-delay-3 {
  animation-delay: 0.3s;
}
.animation-delay-4 {
  animation-delay: 0.4s;
}
.animation-delay-5 {
  animation-delay: 0.5s;
}
.animation-delay-6 {
  animation-delay: 0.6s;
}
.animation-delay-7 {
  animation-delay: 0.7s;
}
.animation-delay-8 {
  animation-delay: 0.8s;
}
.animation-delay-9 {
  animation-delay: 0.9s;
}
